div.login-width {
    max-width: 300px;
}
.center-h {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.login-logo {
    display: block;
    height: 150px;
    width: auto;
    margin: auto;
    margin-top: 60px !important;
}