<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="company-list">
    <template>
        <header>
            <b-row>
                <b-col cols="auto" class="mr-auto">
                    <h4>
                        Company List
                    </h4>
                </b-col>
                <b-col cols="auto" class="ml-auto" sec:authorize="hasRole('ROLE_ADMIN')">
                    <b-button v-b-modal.create-company-model>Create Company</b-button>
                </b-col>
            </b-row>
        </header>
        <b-table
                hover
                ref="table"
                id="company-list-table"
                :items="companies"
                :fields="companyFields"
                :current-page="currentPage"
                :per-page="perPage"
                :busy="isBusy"
                class="mt-3"
                outlined
        >
            <template v-slot:table-busy>
                <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong>Loading...</strong>
                </div>
            </template>

            <template v-slot:cell(action)="row">
                <b-icon icon="eye" font-scale="1.5" @click="viewClicked(row)" class="mr-2"></b-icon>
                <b-icon icon="x-circle-fill" variant="danger" font-scale="1.5" @click="deleteClicked(row)" class="mr-2"
                        th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                        v-if="row.item.companyId != 1"></b-icon>
            </template>
        </b-table>
        <footer>
            <b-row>
                <b-col cols="12" md="10" class="my-1">
                    <b-pagination
                            v-model="currentPage"
                            :total-rows="rows"
                            :per-page="perPage"
                            align="fill"
                            size="sm"
                            class="my-0"
                            aria-controls="#company-list-table"
                    ></b-pagination>
                </b-col>
                <b-col cols="12" md="2" class="my-1">
                    <b-form-select
                            v-model="perPage"
                            id="perPageSelect"
                            size="sm"
                            :options="pageOptions"
                    ></b-form-select>
                </b-col>
            </b-row>
        </footer>
    </template>

    <b-modal
            id="create-company-model"
            ref="modal"
            size="lg"
            title="Create Company"
            @show="resetCreateCompany"
            @hidden="resetCreateCompany"
            @ok="handleOk"
    >
        <form>
            <b-row>
                <b-col>
                    <b-input-group prepend="Company Name" class="mb-2">
                        <b-form-input
                                aria-label="Company Name"
                                v-model="createCompany.companyName"
                                placeholder="Enter company name"
                                :state="isValidCompanyName"
                        ></b-form-input>
                        <b-form-invalid-feedback :state="isValidCompanyName">
                            Enter company name at least 4 letters
                        </b-form-invalid-feedback>
                    </b-input-group>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-input-group prepend="Address" class="mb-2">
                        <b-form-input
                                aria-label="Address"
                                v-model="createCompany.address"
                                placeholder="Enter address"
                        ></b-form-input>
                    </b-input-group>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-input-group prepend="City" class="mb-2">
                        <b-form-input
                                aria-label="City"
                                v-model="createCompany.city"
                                placeholder="Enter city"
                                :state="isValidCity"
                        ></b-form-input>
                        <b-form-invalid-feedback :state="isValidCompanyName">
                            Enter city at least 3 letters
                        </b-form-invalid-feedback>
                    </b-input-group>
                </b-col>
                <b-col>
                    <b-input-group prepend="Pincode" class="mb-2">
                        <b-form-input
                                aria-label="Pincode"
                                v-model="createCompany.pincode"
                                placeholder="Enter pincode"
                        ></b-form-input>
                    </b-input-group>
                </b-col>
            </b-row>
        </form>
    </b-modal>

    <b-modal
            id="company-details-model"
            ref="modal"
            size="lg"
            title="Company Details"
            @hidden="resetCompanyDetails">
        <b-row class="mb-2">
            <b-col>
                <b-row align-h="start">
                    <b-col cols="12" md="auto">
                        <strong>Company Id:</strong>
                    </b-col>
                    <b-col class="pl-0">
                        {{companyDetails.companyId}}
                    </b-col>
                </b-row>
            </b-col>
            <b-col>
                <b-row align-h="start">
                    <b-col cols="12" md="auto">
                        <strong>Company Name:</strong>
                    </b-col>
                    <b-col class="pl-0">
                        {{companyDetails.companyName}}
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <b-row class="mb-2">
            <b-col>
                <b-row align-h="start">
                    <b-col cols="12" md="auto">
                        <strong>Address:</strong>
                    </b-col>
                    <b-col class="pl-0">
                        {{companyDetails.address}}
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <b-row class="mb-2">
            <b-col>
                <b-row align-h="start">
                    <b-col cols="12" md="auto">
                        <strong>City:</strong>
                    </b-col>
                    <b-col class="pl-0">
                        {{companyDetails.city}}
                    </b-col>
                </b-row>
            </b-col>
            <b-col>
                <b-row align-h="start">
                    <b-col cols="12" md="auto">
                        <strong>Pincode:</strong>
                    </b-col>
                    <b-col class="pl-0">
                        {{companyDetails.pincode}}
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
    </b-modal>
</div>
</body>
</html>