<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="user-list">
    <template>
        <header>
            <b-row>
                <b-col cols="auto" class="mr-auto">
                    <h4>
                        User List
                    </h4>
                </b-col>
                <b-col cols="auto" class="ml-auto" sec:authorize="hasRole('ROLE_ADMIN')">
                    <b-button v-b-modal.create-user-model>Create User</b-button>
                </b-col>
            </b-row>
        </header>
        <b-table
                hover
                ref="table"
                id="user-list-table"
                :items="users"
                :fields="userFields"
                :current-page="currentPage"
                :per-page="perPage"
                :busy="isBusy"
                class="mt-3"
                outlined
        >
            <template v-slot:table-busy>
                <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong>Loading...</strong>
                </div>
            </template>

            <template v-slot:cell(action)="row">
                <b-icon icon="eye" font-scale="1.5" class="mr-2" @click="viewClicked(row)"></b-icon>
                <b-icon icon="x-circle-fill" variant="danger" font-scale="1.5" @click="deleteClicked(row)" class="mr-2"
                        sec:authorize="hasRole('ROLE_ADMIN')" v-if="row.item.username != 'admin'"></b-icon>
            </template>
        </b-table>
        <b-row>
            <b-col cols="12" md="10" class="my-1">
                <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        align="fill"
                        size="sm"
                        class="my-0"
                        aria-controls="#user-list-table"
                ></b-pagination>
            </b-col>
            <b-col cols="12" md="2" class="my-1">
                <b-form-select
                        v-model="perPage"
                        id="perPageSelect"
                        size="sm"
                        :options="pageOptions"
                ></b-form-select>
            </b-col>
        </b-row>
    </template>

    <b-modal
            id="create-user-model"
            ref="modal"
            size="lg"
            title="Create User"
            @show="resetModal"
            @hidden="resetModal"
            @ok="handleOk"
    >
        <form ref="form" @submit.stop.prevent="handleSubmit">

            <b-row>
                <b-col>
                    <b-input-group prepend="First and Last name" class="mb-2">
                        <b-form-input
                                aria-label="First name"
                                v-model="createUser.firstName"
                                placeholder="Enter First Name"
                                :state="firstNameState"
                                aria-describedby="name-feedback"
                                trim
                        ></b-form-input>
                        <b-form-input
                                aria-label="Last name"
                                v-model="createUser.lastName"
                                placeholder="Enter Last Name"
                                :state="lastNameState"
                                aria-describedby="name-feedback"
                                trim
                        ></b-form-input>
                        <b-form-invalid-feedback id="name-feedback">
                            Enter first name at least 3 letters and last name at least 1 letter
                        </b-form-invalid-feedback>
                    </b-input-group>
                </b-col>
            </b-row>

            <b-row>
                <b-col>
                    <b-input-group prepend="Age" class="mb-2">
                        <b-form-input
                                aria-label="Age"
                                v-model="createUser.age"
                                placeholder="Enter age"
                                aria-describedby="age-feedback"
                                type="number"
                        ></b-form-input>
                    </b-input-group>
                </b-col>
                <b-col>
                    <b-input-group prepend="Company" class="mb-2">
                        <b-form-input
                                aria-label="Company"
                                v-model="companySelectedName"
                                list="company-list"
                                v-on:input="companyStateChanged"
                                placeholder="Select"
                                :state="companyState"
                                aria-describedby="company-feedback"
                        ></b-form-input>
                        <datalist id="company-list">
                            <option v-for="item in companyList">{{ item.companyName + ' (' + item.city + ') - ' +
                                item.companyId }}
                            </option>
                        </datalist>
                        <b-form-invalid-feedback id="company-feedback">
                            Please select company
                        </b-form-invalid-feedback>
                    </b-input-group>
                </b-col>
            </b-row>

            <b-row>
                <b-col>
                    <b-input-group prepend="Username" class="mb-2">
                        <b-form-input
                                aria-label="Username"
                                v-model="createUser.userName"
                                placeholder="Enter Username"
                                aria-describedby="user-name-feedback"
                                v-on:input="userNameStateChanged"
                                :state="isValidUsername"
                        ></b-form-input>
                        <b-form-invalid-feedback :state="isValidUsername">
                            Username is already available with us
                        </b-form-invalid-feedback>
                        <b-form-valid-feedback :state="isValidUsername">
                            Username is valid
                        </b-form-valid-feedback>
                    </b-input-group>
                </b-col>
                <b-col>
                    <b-input-group prepend="Username" class="mb-2">
                        <b-form-input
                                aria-label="Username"
                                value="Welcome@123"
                                disabled
                        ></b-form-input>
                    </b-input-group>
                </b-col>
            </b-row>

            <b-row>
                <b-col>
                    <b-form-group label="User Role">
                        <b-form-radio-group
                                v-model="createUser.role"
                                :options="rolesList"
                                :state="rolesState"
                                name="role">
                            <b-form-invalid-feedback :state="rolesState">Please select one</b-form-invalid-feedback>
                        </b-form-radio-group>
                    </b-form-group>
                </b-col>
            </b-row>

        </form>
    </b-modal>

    <b-modal
            id="user-details-model"
            ref="modal"
            size="lg"
            @hidden="resetUserDetails">
        <b-card title="User Details">
            <b-row class="mb-2">
                <b-col>
                    <b-row align-h="start">
                        <b-col cols="12" md="auto">
                            <strong>User Id:</strong>
                        </b-col>
                        <b-col class="pl-0">
                            {{userDetails.userId}}
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
            <b-row class="mb-2">
                <b-col>
                    <b-row align-h="start">
                        <b-col cols="12" md="auto">
                            <strong>First Name:</strong>
                        </b-col>
                        <b-col class="pl-0">
                            {{userDetails.firstName}}
                        </b-col>
                    </b-row>
                </b-col>
                <b-col>
                    <b-row align-h="start">
                        <b-col cols="12" md="auto">
                            <strong>Last Name:</strong>
                        </b-col>
                        <b-col class="pl-0">
                            {{userDetails.lastName}}
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
            <b-row class="mb-2">
                <b-col>
                    <b-row align-h="start">
                        <b-col cols="12" md="auto">
                            <strong>Age:</strong>
                        </b-col>
                        <b-col class="pl-0">
                            {{userDetails.age ?? 'NA'}}
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
            <b-row class="mb-2">
                <b-col>
                    <b-row align-h="start">
                        <b-col cols="12" md="auto">
                            <strong>User Name:</strong>
                        </b-col>
                        <b-col class="pl-0">
                            {{userDetails.username}}
                        </b-col>
                    </b-row>
                </b-col>
                <b-col>
                    <b-row align-h="start">
                        <b-col cols="12" md="auto">
                            <strong>Role:</strong>
                        </b-col>
                        <b-col class="pl-0">
                            {{userDetails.roles[0].roleName ?? 'NA'}}
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </b-card>

        <b-card title="Company Details" class="mt-2">
            <b-row class="mb-2">
                <b-col>
                    <b-row align-h="start">
                        <b-col cols="12" md="auto">
                            <strong>Company Id:</strong>
                        </b-col>
                        <b-col class="pl-0">
                            {{userDetails.company.companyId}}
                        </b-col>
                    </b-row>
                </b-col>
                <b-col>
                    <b-row align-h="start">
                        <b-col cols="12" md="auto">
                            <strong>Company Name:</strong>
                        </b-col>
                        <b-col class="pl-0">
                            {{userDetails.company.companyName}}
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
            <b-row class="mb-2">
                <b-col>
                    <b-row align-h="start">
                        <b-col cols="12" md="auto">
                            <strong>Address:</strong>
                        </b-col>
                        <b-col class="pl-0">
                            {{userDetails.company.address}}
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
            <b-row class="mb-2">
                <b-col>
                    <b-row align-h="start">
                        <b-col cols="12" md="auto">
                            <strong>City:</strong>
                        </b-col>
                        <b-col class="pl-0">
                            {{userDetails.company.city}}
                        </b-col>
                    </b-row>
                </b-col>
                <b-col>
                    <b-row align-h="start">
                        <b-col cols="12" md="auto">
                            <strong>Pincode:</strong>
                        </b-col>
                        <b-col class="pl-0">
                            {{userDetails.company.pincode}}
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </b-card>
    </b-modal>
</div>
</body>
</html>